.new-product-title {
    background: #f46a4e;
    padding: 8px 38px;
    margin-bottom: 25px;
    border-radius: 25px;
}
.new-product-title span {
    color: #f1f1f1;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 24px;
}
#content {
    padding-top: 40px;
}
.product-list {
    padding: 0px;
}
.product-top {
    position: relative;
}
.promotion-product {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 3;
}
.promotion-text {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    width: 43px;
    height: 43px;
    line-height: 43px;
    display: block;
    text-align: center;
    background-color: #B1D1C9;
    border-radius: 100%;
}
.image-product img {
    height: 258px;
    width: 258px;
    min-width: 100%;
}
.product-detail {
    border: 1px solid #eee;
}
.item {
    padding-bottom: 35px;
}